<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <form th:action="@{/course/create}"
          th:object="${course}" method="post" class="form">
        <div class="form-group">
            <lable for="name">Place</lable>
            <input class="form-control" type="text" th:field="*{place}" id="name" placeholder="Place">
        </div>

        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input class="form-control" type="date" id="startDate" th:field="*{startDate}" placeholder="image">
            <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
            <lable for="lectureName">Lecture:</lable>
            <input class="form-control" type="text" th:field="*{lectureName}" id="lectureName" placeholder="LectureName">
        </div>
        <input type="submit" class="btn btn-success" value="Add">
    </form>
</div>

</body>
</html>
<script>
    document.querySelector('#startDate').addEventListener('change', function() {
       const startDate = new Date(this.value);
       const currentDate = new Date();
       if (startDate >= currentDate) {
           this.classList.remove('is-invalid');
           this.nextElementSibling.textContent = '';
           // Enable the submit button
           document.querySelector('input[type="submit"]').disabled = false;
       } else {
           this.classList.add('is-invalid');
           this.nextElementSibling.textContent = 'Ngày tạo phải lớn hơn ngày hiện tại.';
           // Disable the submit button
           document.querySelector('input[type="submit"]').disabled = true;
       }
   });
</script>